<div class="jumbotron noprint">
  <h1 class="title">CIMA - Carné</h1>
  <div class="row mt-3">
      <input type="text" [(ngModel)]="codigos" (keyup.enter)="Adicionar()" >
      <button class="btn" (click)="Adicionar()">AGREGAR</button> 
      <button class="btn" (click)="Imprimir()" [disabled]="alumnosFiltrados &&alumnosFiltrados.length==0">IMPRIMIR</button>
      <button class="btn" (click)="Guardar()">GUARDAR</button>
  </div>
  <ul>
    <li>
      <a [ngClass]="{'active': tipo==1}" href="#" (click)="tipo=1;filtrar()">Academia</a>
    </li>
    <li>
      <a [ngClass]="{'active': tipo==2}" href="#" (click)="tipo=2;filtrar()">Colegio</a>
    </li>
    <li>
      <a [ngClass]="{'active': tipo==3}" href="#" (click)="tipo=3;filtrar()">Evolis</a>
    </li>
    <li>
      <a [ngClass]="{'active': tipo==4}" href="#" (click)="tipo=4;filtrar()">RFID</a>
    </li>
    <li>
      <a [ngClass]="{'active': tipo==5}" href="#" (click)="tipo=5;filtrar()">Inicial</a>
    </li>
  </ul>
</div>

<div class="container">      
  <div *ngIf="alumnosFiltrados && alumnosFiltrados.length===0" class="animated fadeIn message__notfound">
    ¡No hay solicitud de carné por realizar!
  </div>
  <div *ngIf="tipo==1" class="animated fadeIn d-flex">
    <app-academia *ngFor="let alumno of alumnosFiltrados; let i = index" [alumno]="alumno" (click)="remover(i)" [ngClass]="{'saltar': (i+1)%12==0}"></app-academia>
  </div>
  <div *ngIf="tipo==2" class="animated fadeIn d-flex">
    <app-colegio *ngFor="let alumno of alumnosFiltrados" [alumno]="alumno" (click)="remover(i)"></app-colegio>
  </div>
  <div *ngIf="tipo==3 || tipo==4" class="animated fadeIn d-flex">
    <app-evolis *ngFor="let alumno of alumnosFiltrados; let i = index" [alumno]="alumno" (click)="remover(i)"></app-evolis>
  </div> 
  <div *ngIf="tipo==5" class="animated fadeIn d-flex">
    <app-evolisrfid *ngFor="let alumno of alumnosFiltrados; let i = index" [alumno]="alumno" (click)="remover(i)"></app-evolisrfid>
  </div>  
</div>